/* gricad.css */
/* @theme gricad */

@import 'default';

:root {
  font-family: Inter, Helvetica, Arial;
}
section {
  background: url(nebuleuse.jpg) no-repeat center center ;
  background-size: cover;
  background-color: rgba(255, 0, 0, 0.2);
}

section::after {
  font-weight: bold;
  font-size: 15px;
  text-shadow: 1px 1px 0 #fff;
}

section::after {
  content: attr(data-marpit-pagination) ' / ' attr(data-marpit-pagination-total);
}

footer {
  font-size: 15px;
}

img[alt~="center"] {
  display: block;
  margin: 0 auto;
}

blockquote {
  background: #e8f3f9;
  border-left: 15px solid #d19d9f;
  margin: 1.em 20px;
  padding: 0.5em 20px;
}
blockquote:before{
  content: unset;
}
blockquote:after{
  content: unset;
}